html {
    box-sizing: border-box;
    font: 62.5% 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0; 
}
  
  
body {
    margin: 0px;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:  #f3f3f3;
}
  
a {
    text-decoration: none;
}
  
h1 {
    font-size: 2.2rem;
}
  
h2 {
    font-size: 2rem;
}
  
h3 {
    font-size: 1.8rem;
}

.appContainer{
    width: 100%;
    margin: 0;
}

.navheader{
    /* position: fixed; 
    top:0; 
    left:0;
    right:0;  */
    /* width: 100%; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: solid green;
    
}
.logo {
    margin: 0px;
}
.logo img{
    height: 35px;
}

.navbar{ 
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    text-decoration: none;
    /* margin-left: 0;
    margin-right: 40px;  */
}


/*Main container where products are displayed*/
.prodContainer{
    /* background-color: blue; */
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(var(--repeat, auto-fill), minmax(280px, 1fr));  /*(3, 1fr)*/;
}

/* product card styles*/
.card {
    color: black;
    background: #f3f3f3;
    padding: 2rem;
    /* border: 1px solid lightgray;
    box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915); */
  }
/* product card container */
.prodCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5rem;
    /* background-color: pink; */
  }
  
  /* character card header */
.prodHeadContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.prodHeadContainer div {
    width: 100%;
  }
  
.prodHeadContainer h3 {
    margin: 0;
}

.prodDetailsList{ 
    padding: 0;
    list-style: none;
    font-size: 1.25rem;
}

.prodDetail{
    padding-bottom: 2.5px;
    font-weight: bold;
}

.prodDetail span{
    font-weight: lighter;
    color: black

}

.prodPrice {
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: grey;
    /* background-color: red; */
    border-bottom: solid thin grey;
}

/* Product image */
.imageContainer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.imageContainer img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

/*Buy Button*/
.buyButton button {
    background-color: green;
    color: white; 
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    width: 100%;
}